-# coding: UTF-8

%div.container#catalog
  %div.row
    %h2.pull-left<=@catalog['title']
    = haml :social_buttons
    
  %div.container
    %div.row
      %div.span7
        %h4< コミックマーケット82で「#{@catalog['title']}」を頒布しました
        %ul
          %li< コミックマーケット82
          %li< 場所:東京ビッグサイト
          %li< サークル名：MotiPizza
          %li< 日程：2日目 (8月11日)
          %li< スペース番号：西し39a
          %li< 部数制限: 無し
          %li<
            %strong< 初参加にも関わらず開始1時間で完売となりました

        %h4< 本書の概要
        %p
          LLVMを使ってコンパイラを作るという内容になっています。
          フロントエンドとミドルエンドは餅が担当し、風がバックエンドの担当です。
          表紙は矢上さんに書いていただきました。
          かわいい表紙でよくできているのでこれだけでも売れそうです。

        %h4< 本書執筆の経緯(後書きより抜粋)
        %p
          筆者がこの本を書こうと思った原点は某Cell の同人誌にあったりします．
          当時まだ学生 で Cell プログラミングをやっていた筆者は，あの本の完成度と情報量に感動を覚え，
          いつか自分もこういう活動をしてみたいと漠然と思ったものです．
          Cell の本の中の人とは面識もなければ本の購入時以外で会話したことすらないのですが，
          未だに一方的な憧れと尊敬の念を抱いていたりします．
          恐らくあの本を手にとっていなければ筆者がこのような本を書こうと思うことも無かったことでしょう．
        %p
          本書が LLVM の解説本としてどこまで行けたかはわかりませんが，
          筆者の LLVM 的なレベルはまだまだな所にいると力不足を痛感しています．
          今後，今回書ききれなかった内容を盛り込んだLLVM 本を執筆するか，はたまた別の話題に乗り換えるのか，
          このままフェードアウトしてしまうかはわかりませんが，1 ユーザとして今後も LLVM の動向を追い，
          勉強に励みたいと思います．
          まぁ正直なところ筆者は最近 Openflow とか触ってたりするのでそういうのもいいなとか思っています．

        %h4< 増刷や電子書籍化について
        %p
          今作は著者二人がまだ質が(電子化するほど)良くないと感じているため、
          増刷や電子書籍化の予定はありません。
        %p
          %strong
            ついに電子書籍化しました！
            次回作の「
            %a{:href=>"#{$catalogs['c83']['url']}"}<> きつねさんとおぼえるLLVM
            」を電子書籍化した
            %a{:href=>"#{$catalogs['eb-kitsune']['url']}"}<> きつねさんでもわかるLLVM
            を参照してください。

      %div.span5
        %img{:src=>"#{@catalog['img']}", :alt=>"#{@catalog['title']}"}
        %h3< 目次
        %ul
          %li< はしがき
          %li< 第一章：はじめに
          %li< 第二章：コンパイラとLLVM
          %li< 第三章：環境構築
          %li< 第四章：LLVM IR
          %li< 第五章：フロントエンドを作る
          %li< 第六章：Pass について
          %li< 第七章：バックエンドを作る
          %li< あとがき
